html {
    background-color: hsl(257, 40%, 49%);
    background-image: url("images/bg-desktop.svg"); 
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: contain;
}

header {
    margin-bottom : 4%;
    padding-top : 2%;
    padding-left : 4%;
}

.two-column {
    display: flex;
    margin-left : 4%;
}

.two-column img {
    width: 55%;
    margin : 20px;
}

main {
    margin : 10px;
}

h1 {
    font-family: 'Poppins';
    color: white;
    font-weight: 700px; 
}

p {
    font-family :'Open Sans';
    font-weight: 400px;
    color: white;
    width : 85%;
    font-size : 1.5em;
}

button {
    border-radius:20%/60%;
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);;
    width: 25%;
    min-width: 100px;
    height: 13%;
    font-family: 'Open Sans';
    font-weight: 400px;
    font-size: 1.75em;
    text-align: center;
    background-color: white;
    color: hsl(257, 40%, 49%);
    padding: 10px 10px 10px 10px;
}

footer {
    display : flex;
    position : absolute;
    right : 5%;
}

.fa {
    text-align: center;
    display: block;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    margin: 5px 5px;
    font-size : 2em;
    height: 55px;
    width: 55px;
    line-height: 55px!important; /* icons have line height 1 px default */
}